.focus {
  box-shadow: #595959 0 0 1px;
  outline: none;
}
@-webkit-keyframes blink {
  0% {
    -webkit-transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes blink {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
