.focus {
  box-shadow: #595959 0 0 1px;
  outline: none;
}
.actionFont {
  color: #33bef2;
  font-size: medium;
}
.linkFont {
  color: #33bef2;
  font-size: medium;
}
.titleFont {
  color: #595959;
  font-size: 24px;
  font-weight: normal;
}
.infoTextFont {
  color: #595959;
  font-size: 11px;
}
.infoBoldTextFont {
  color: #595959;
  font-size: 11px;
  font-weight: bold;
}
.errorTextFont {
  color: #ee7777;
  font-size: small;
}
.blockTitleFont {
  font-size: 21px;
  font-weight: bold;
  font-family: Arial;
  color: #595959;
}
.blockSubTitleFont {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  color: #595959;
}
.subTitleFont {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  color: #595959;
}
.descriptionText {
  font-size: small;
  color: #595959;
}
.formContentFont {
  font-size: 12px;
  font-family: Arial;
  color: #000000;
}
.hintFont {
  font-size: 10px;
  font-style: italic;
  font-family: Arial;
  color: #8e8e8e;
}
.itemFont {
  font-size: 11px;
  font-family: Arial;
  color: #000000;
}
.controls_textInput_textArea textarea {
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 2px 3px 3px;
  font-size: 12px;
  font-family: Arial;
  color: #000000;
}
.controls_textInput_textArea textarea:focus {
  box-shadow: #595959 0 0 1px;
  outline: none;
}
