.focus {
  box-shadow: #595959 0 0 1px;
  outline: none;
}
@-webkit-keyframes blink {
  0% {
    -webkit-transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes blink {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.controls_hint_hint {
  float: left;
  width: 16px;
  height: 16px;
  margin-left: -20px;
}
.controls_hint_hint .hint {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: grey;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.controls_hint_hint .hint:before {
  content: "?";
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  color: white;
}
.controls_hint_hint .hint .hintLine {
  margin-left: 7px;
  width: 2px;
  height: 0px;
  background-color: grey;
}
.controls_hint_hint .hint .hintBody {
  position: fixed;
  bottom: 72px;
  left: 0;
  right: 0;
  background-color: #444444;
  font-size: 15px;
  color: #ffffff;
  padding: 18px;
}
.controls_hint_hint.unfolded {
  margin-left: -36px;
}
.controls_hint_hint.unfolded .hint {
  width: 32px;
}
